body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #2E2E2E;
    width: 350px;
    height: 550px;
    margin: 0;
    overflow: auto;
}

h2 {
    color: #F2F2F2
}

#icon {
    width: 50px;
    height: 50px;
}

#zone35 {
    width: 100px;
    height: 80px;
}


#affichage {
    font-size: 48px;
    margin: 20px 0;
    color: #D6B88D
}

#demarrer {
    background-color: #9a7644;
    color: antiquewhite;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#demarrer:hover {
    background-color: rgb(74, 74, 65);
    color: rgb(165, 158, 148);
    transition: background-color 0.5s ease 0.25s;
    border-radius: 40px;
    transition: border-radius 0.5s ease 0.25s;
    height: 50px;
    width: 50px;
}

h2 {
    color: rgb(194, 151, 121);
}


#fleche {
    width: 50px;
    height: 50px;

}

#btnReset {
    width: 60px;
    height: 20px;
    border-radius: 40px;
    background-color: rgb(197, 30, 30);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}